<!-- src/layouts/default.hbs -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 

		<!-- Bootstrap styling -->
    	<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Main Style -->
        <link href="css/style.css" rel="stylesheet">

        <!-- Font Awesome -->
        <link href="libs/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Jacques+Francois:400,700' rel='stylesheet' type='text/css'>

        <!-- icon -->
        <link rel="icon" type="image/png" href="img/icon.png" />

        <!-- disabling zoom -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        <!-- jquery & modernizr -->
        <script src="libs/jquery/jquery.min.js"></script>
        <script src="libs/modernizr/custom.modernizr.js"></script>

        <title>{{site.title}}</title>
    </head>
    <body>

        {{> header }}

        {{> body }}

		<!-- Bootstrap -->
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
        <!-- simpModal -->
        <script src="libs/simpmodal/simpmodal.js"></script>
        <!-- swiper -->
        <script src="libs/swiper/swiper.min.js"></script>
        <!-- Main Script -->
        <script src="js/scripts.js"></script>


    </body>
</html>